<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.tsinsi.user.adapter.out.mapper.reader.UserReaderMapper">

    <resultMap id="user" type="com.tsinsi.user.entity.User">
        <id property="username" column="username"/>
        <id property="password" column="password"/>
        <id property="gender" column="gender"/>
        <id property="id" column="id"/>
    </resultMap>

    <select id="findById" resultMap="user">
        select id, username, password, nickname, gender
        from tb_users
        where id = #{id}
    </select>

</mapper>